@charset "UTF-8";

footer {
    background-color: black;
    color: white;
    padding: 25px;
}

main {
    min-height: calc(960px - 210px - 0px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightgrey;
}

#leftcolumn {
    float: left;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    width: 200px;
    list-style: none;
}

#rightcolumn {
    float: right;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    width: 200px;
}

#pagewidth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

#video {
}

#images {
    justify-content: space-between;
}

#homepage {
    padding-top: 200px;
}

#Emailbox {
    padding-bottom: 20px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}

input[type=email] {
    background-color: white;
}

#Namebox {
    padding: 20px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text] {
    background-color: white;
}

#Messagebox {
    padding: 20px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Submit {
    padding-bottom: 50px;
}

input[type=Submit] {
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form {
    float:inline-end;
    border: 15px solid grey;
    width: 300px;
    margin-left: 240px;
}